<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/Style/Home.css">
</head>

<body>
    <header>
        <section class="section">
            <div class="nav align-items-center ">
                <img src="/image/logo.png" alt="" class="img-col">
            </div>
            <div class="nav-col">
                <ul id="navli">
                    <a href="/component/Home.html" class="ancher">
                        <li>Home</li>
                    </a>
                    <a href="/component/Shop.html" class="ancher">
                        <li>Shop</li>
                    </a>
                    <a href="/component/Blog.html" class="ancher">
                        <li>Blog</li>
                    </a>
                    <a href="/component/About.html" class="ancher">
                        <li>About</li>
                    </a>
                    <a href="/component/contact.html" class="ancher">
                        <li>Contact</li>
                    </a>
                    <li href="#" id="anch" class="ancher">
                        <button class="Login" onclick="openpopup()">Login</button>
                        <button onclick="openpopup()">Sign In</button>
                    </li>
                    <a href="#" class="ancher" id="close"><i class="fa fa-times"></i></a>
                </ul>
            </div>

            <div class="mobile">
                <i id="bar" class="fas fa-outdent"></i>
            </div>
        </section>
    </header>
    <div class="container">
        <div class="popup" id="demo">
            <p class="content" onclick="closedpopup()"><i class="fa fa-times-circle" aria-hidden="true"></i></p>
            <h1>Sign In</h1>
            <form action="save.py" id="from">
                <input type="email" name="email" id="email" placeholder="Enter Email" class="email">
                <span id="se" style="color: red;"></span>
                <input type="password" name="Pass" id="pass" placeholder="Password" class="email">
                <span id="sp" style="color: red;"></span>
                <button class="form-btn">Sign In</button>
            </form>

        </div>
    </div>


    <section class="hero">

        <h4>Trade in offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>save more coupons & up to 70% off!</p>
        <a href="#pro-col"><button>Shop Now</button></a>

    </section>




    <section class="feature" id="section-p1">
        <div class="fe-box">
            <img src="/image/features/f1.png" alt="">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="/image/features/f2.png" alt="">
            <h6>Online-oreder</h6>
        </div>
        <div class="fe-box">
            <img src="/image/features/f3.png" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="/image/features/f4.png" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="/image/features/f5.png" alt="">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="/image/features/f6.png" alt="">
            <h6>24/7 Support</h6>
        </div>
    </section>

    <section class="product " id="section-p1">
        <h2 class="fs">Featured Products</h2>
        <p>Summer Collection New Morden Design</p>
        <div class="pro-conatiner ">
            <div class="pro" id="pro-col">
                <img src="/image/products/f1.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f2.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f3.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f4.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f5.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f6.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f7.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f8.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>


        </div>
    </section>

    <section class="banner">
        <h4>Repair Services</h4>
        <h2>Up to <span style="color: red;">70% off</span>70% off-All t-Shirts & Accessories</h2>
        <button class="btn">Explore More</button>
    </section>

    <section class="product" id="section-p1">
        <h2 class="fs" id="new-arrival">New Arrivals</h2>
        <p>Summer Collection New Morden Design</p>
        <div class="pro-conatiner">
            <div class="pro">
                <img src="/image/products/n1.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/n2.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/n3.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/n4.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/n5.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/n6.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/n7.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/n8.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>


        </div>
    </section>


    <footer class="" id="section-p1">
        <div class="col">
            <img class="logo" src="/image/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> 562 welington Raod, street 32, san francicos</p>
            <p><Strong>Phone:</Strong>+01 222 365/(+91) 01 2345 6789</p>
            <p><Strong>Hours:</Strong> 10:00-= -18:00, Mon - Sat</p>
            <dv class="follow">
                <h4>follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab  fa-youtube"></i>
                </div>
            </dv>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & conditions</a>
            <a href="#">Contact us</a>

        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My order</a>
            <a href="#">Help</a>

        </div>
    </footer>
 
    <script src="/script/Home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>