<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/Style/Home.css">
</head>

<body>
    <header>
        <section class="section">
            <div class="nav align-items-center ">
                <img src="/image/logo.png" alt="" class="img-col">
            </div>
            <div class="nav-col">
                <ul id="navli">
                    <a href="/component/Home.html" class="ancher">
                        <li>Home</li>
                    </a>
                    <a href="#new-arrival" class="ancher">
                        <li>Shop</li>
                    </a>
                    <a href="#" class="ancher">
                        <li>Blog</li>
                    </a>
                    <a href="#" class="ancher">
                        <li>About</li>
                    </a>
                    <a href="#" class="ancher">
                        <li>Contact</li>
                    </a>
                    <a href="#" id="anch"  class="ancher">
                        <li class="Login" onclick="openpopup()">Login</li>
                        <li>Sign In</li>
                    </a>
                    <a href="#" class="ancher" id="close"><i class="fa fa-times"></i></a>
                </ul>
            </div>

            <div class="mobile">
                <i id="bar" class="fas fa-outdent"></i>
            </div>
        </section>
    </header>


    <section class="single" id="section-p1">
        <div class="sproduct">
            <img src="/image/products/f1.jpg" width="100%" id="MainImg" alt="">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="/image/products/f1.jpg" width="100%" class="small-Img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="/image/products/f2.jpg" width="100%"  class="small-Img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="/image/products/f3.jpg" width="100%"  class="small-Img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="/image/products/f4.jpg" width="100%"   class="small-Img" alt="">
                </div>
            </div>

        </div>

        <div class="pdetails">
            <h6>Home / T-shirt</h6>
            <h4>Men's Fashion T-shirt </h4>
            <h2>$139.0</h2>
            <select name="" id="">
                <option value="">Select Size</option>
                <option value="">XXX</option>
                <option value="">XXL</option>
                <option value="">XL</option>
                <option value="">X</option>
                <option value="">M</option>
                <option value="">S</option>
            </select>
            <input type="text" value="1">
            <button class="btn-cart">Add to Cart</button>
            <h4>Product Details</h4>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque facilis, amet molestias at libero
                blanditiis accusamus provident culpa veritatis repudiandae sunt, explicabo consequatur?</span>
        </div>

    </section>





     <section class="product " id="section-p1">

        <div class="pro-conatiner ">
            <div class="pro" id="pro-col" >
                <img src="/image/products/f1.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f2.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f3.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f4.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f5.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f6.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f7.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>
            <div class="pro">
                <img src="/image/products/f8.jpg" alt="" class="img-section">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-Shirts</h5>
                    <div class="star">
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                        <i class="fas fa-star" id="star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
            </div>


            <div class="pro-conatiner">
                <div class="pro">
                    <img src="/image/products/n1.jpg" alt="" class="img-section">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="/image/products/n2.jpg" alt="" class="img-section">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="/image/products/n3.jpg" alt="" class="img-section">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="/image/products/n4.jpg" alt="" class="img-section">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="/image/products/n5.jpg" alt="" class="img-section">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="/image/products/n6.jpg" alt="" class="img-section">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="/image/products/n7.jpg" alt="" class="img-section">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                </div>
                <div class="pro">
                    <img src="/image/products/n8.jpg" alt="" class="img-section">
                    <div class="des">
                        <span>adidas</span>
                        <h5>Cartoon Astronaut T-Shirts</h5>
                        <div class="star">
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                            <i class="fas fa-star" id="star"></i>
                        </div>
                        <h4>$78</h4>
                    </div>
                </div>


            </div>
    </section> 




     <footer class="" id="section-p1">
        <div class="col">
            <img class="logo" src="/image/logo.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> 562 welington Raod, street 32, san francicos</p>
            <p><Strong>Phone:</Strong>+01 222 365/(+91) 01 2345 6789</p>
            <p><Strong>Hours:</Strong> 10:00-= -18:00, Mon - Sat</p>
            <dv class="follow">
                <h4>follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab  fa-youtube"></i>
                </div>
            </dv>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & conditions</a>
            <a href="#">Contact us</a>

        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My order</a>
            <a href="#">Help</a>

        </div>
    </footer>

<script>
    var MainImg = document.getElementById("MainImg")
var smallimg = document.getElementsByClassName("small-Img");

smallimg[0].onclick=function(){
    MainImg.src = smallimg[0].src;
    console.log(smallimg);
}
smallimg[1].onclick=function(){
    MainImg.src = smallimg[1].src;
}
smallimg[2].onclick=function(){
    MainImg.src = smallimg[2].src;
}
smallimg[3].onclick=function(){
    MainImg.src = smallimg[3].src;
}
</script>

    <script src="/script/Home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>